@page
@model MyWeb1.Pages.PhotoModel
@{
    ViewData["Title"] = "My Photo";
}
<link rel="stylesheet" href="~/css/style.css">

<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-6 text-center">
            <img src="~/image/foto.png" alt="Foto" class="img-fluid">
        </div>
    </div>
</div>
