@page
@model MyWeb1.Pages.RedesModel
@{
    ViewData["Title"] = "My Social Networks";
}

<link rel="stylesheet" href="~/css/style.css">

<h1>@ViewData["Title"]</h1>
<div class="container center-content">
    <div class="row">
        <div class="col-md-6">
            <a href="https://www.linkedin.com/in/delmer-rodr%C3%ADguez-guti%C3%A9rrez-557a781b7/" target="_blank">
                <img src="~/image/linkedin.png" alt="LinkedIn" class="img-fluid">
            </a>
        </div>
        <div class="col-md-6">
            <a href="https://github.com/DelmerRo" target="_blank">
                <img src="~/image/github.png" alt="GitHub" class="img-fluid">
            </a>
        </div>
    </div>

    <div class="row" style="margin-left: 20px;">
        <div class="col-md-6">
            <a href="https://web.facebook.com/jindrg/" target="_blank">
                <img src="~/image/facebook.png" alt="Facebook" class="img-fluid">
            </a>
        </div>
        <div class="col-md-6">
            <a href="https://www.instagram.com/delmer_rodri/" target="_blank">
                <img src="~/image/instagram.png" alt="Instagram" class="img-fluid">
            </a>
        </div>
    </div>
</div>








